body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color:yellowgreen;
  }
   
  #search-page, #history-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
   
  h1 {
    font-size: 36px;
    margin-top: 0;
  }
   
  form {
    display: flex;
    margin-bottom: 20px;
  }
   
  input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    border: none;
  }

  button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
   
  #search-results {
    display: flex;
    flex-wrap: wrap;
  }
   
  #search-results > div {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 3px solid black;
  }
   
  #search-results img {
    width: 100%;
    border-radius: 5px;
  }
   
  #search-results h2 {
    font-size: 20px;
    margin: 5px 0;
  }
   
  #search-results p {
    font-size: 16px;
    margin: 10px 0;
  }
   
  #history-list {
    list-style: none;
    padding: 0;
  }
   
  #history-list li {
    font-size: 16px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  #search-history-btn{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  #clear-history-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  #back-to-search-btn{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
